
html, body{
    overflow-x: hidden;
    background-color: whitesmoke;
}
.imagen-card{
    height: 15rem;
}
.contenedor{
    display:flex;
    justify-content: center;
    align-items: center;
}
.card{
    border-radius: 49px;
    background: #e0e0e0;
    box-shadow:  17px 17px 33px whitesmoke,
                 -17px -17px 33px whitesmoke;
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.navbar-personal{
    background: #776885;
}

.navbar-brand{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #aaa;
    font-size: 35px;
}

.nav-link{
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.card-title{
    color: #4b0081;
    font-size: 23px;
}

.card-text{
    font-size: 18px;
    color: #000;
}

.btn-personal{
    background-color: #4b0081;
    color: #aaa;
    font-size: 20px;
}

.titulopregunta{
    font-size: 18px;
    color: #000;
}
